body {
    font-family: "Noto Sans TC", sans-serif;

    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 5%;
}

img {
    width: 100%;
    vertical-align: middle;
}

.text-primay {
    color: #212529;
}

.text-secondary {
    color: #6C757D;
} 

.text-muted {
    color: #ADB5BD;
} 






.product-card {
    width: 100%;
    margin-left: 24px;
}
.product-card img {
    margin-bottom: 12px;
}
.product-card a{
    text-decoration: none;
    color: #212529;
}
.product-card a:hover{
    opacity: 80%;
}

.label-product-name {
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 4px;
}